<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @book.stock %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.average_rating %>
</p>

<%= link_to 'Edit this book', edit_book_path(@book) %> |
<%= link_to 'Back to books', books_path %>
<%= link_to 'Write a Review', new_review_path %>
