<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @order_item.book_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order_item.total %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_item.unit_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @order_item.user_id %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Go to cart', order_items_path %>
<%= link_to 'Back to books', books_path %>
