<p id="notice"><%= notice %></p>

<h1>Purchase History</h1>

<table>
  <thead>
    <tr>
      <th>Transaction number</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_number %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.total_price %></td>
        <td><%= link_to 'Show', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
