<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction number:</strong>
  <%= @transaction.transaction_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @transaction.total_price %>
</p>

<%= link_to 'Back', transactions_path %>
